/vendor
/node_modules
/public/build
/public/css/filament
/public/js/filament
/storage/*.key
/storage/pail
/database/*.sqlite
/storage/database
/storage/infection
/infection.log
/.phpunit.cache
/.deptrac.cache
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
